RS_CLIENT_ID=581d95f08f9510aeee0c1579e5c79461b3586058ffccf6ffa33f1b49338d4d08
RS_CLIENT_SECRET=def6455e054cae538adf96074b889814819c2aedae0201bd535131f2453469ab
RS_CLIENT_PRIVATE_API_TOKEN=cHZfNzQ3YTY1MjkyZDI2NDQzNGEzZTc1MGYxMDEzNzhiOTk=
RS_CLIENT_REDIRECT=http://localhost:9000

SHAREFILE_PORT=8443
SHAREFILE_HOSTNAME=services-api.cloud.com
SHAREFILE_CLIENT_ID=mR7IxtmYZB5PJ1rMN5Fxxxx
SHAREFILE_CLIENT_SECRET=ZmyABqD5GVggteQoCKm0vVwHnM5zo829kxxxxx
SHAREFILE_CLIENT_REDIRECT=https://services-api.cloud.com

SHAREFILE_USER=keith@vavize.com
SHAREFILE_PW=Sharexxxx
SHAREFILE_DOMAIN=citrixxxx
